.content .upper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.content .upper .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content .upper .info h3{
    color: #8B8B8B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content .upper .info h2{
    color: var(--color-gray-700);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.content .upper .cards{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #F3FFF8; */
}
.content .upper .cards p{
    color: #119549;
    font-family: "SF Pro Text";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.content .lower{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.content .lower .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}
.content .lower .info h3{
    color: #A2A2A2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content .lower .info h4{
    color: #03354E;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}