.loan-categories-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .category-column {
    width: 100%;
  }
  
  .category-title {
    color: #03354E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 1rem;
  }
  
  .user-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .user-item {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
  }
  
  .user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-name {
    color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .user-details {
    color: #818181;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .view-all {
    margin-top: 24px;
  }
  
  .view-all a {
    color: #3b82f6;
    text-decoration: none;
  }
  
  .view-all a:hover {
    text-decoration: underline;
  }
  .vertical-separator {
    width: 1px;
    height: auto; /* Full height */
    background-color: #d1d5db;
  }