.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.card .firstflex{
    display: flex;
    padding: 0.5rem;
    padding-bottom: 0px;
}
.card .firstflex img{
    width: 100px;
    height: 80px;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 5px;
}
.card .firstflex .child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card .firstflex .child h3{
    color: #383838;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card .firstflex .child .line{
    display: flex;
    align-items: baseline;
}
.card .firstflex .child .line h3{
    color: #03354E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-right: 1.5rem;
    
}
.card .firstflex .child .line .unit{
    color: #03354E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.15px;
    
    
}
.card .firstflex .child .line .stock{
    color: #3AB86D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 0.99rem;
    padding-right: 0.1rem;
    
}
.card .secondflex .line2{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
}
.card .secondflex .line2 .child2{
    display: flex;
    flex-direction: column;
}
.card .secondflex .line2 .child2 h4{
    color: #416678;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.card .secondflex .line2 .child2 p{
    color: #808080;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}
.card .thirdflex{
    display: flex;
    padding: 1.5rem;
    padding-top: 0px;
}
.card .thirdflex a{
    color: #009DFF;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}