.myproduct{
    background: #EDF0F6;
    /* width: 400px; */
    /* width: 23.654%; */
    width: 24.935%;
    height: auto;
    /* bottom: 10; */
    /* padding-bottom: 191px; */
    padding-bottom: 2rem;
    flex-shrink: 0;
    position: relative;
    /* right: 0px; */
    margin-left: auto;
    margin-right: 0rem;
    /* top: 280px; */
    top: 12%;
    /* top: 57px; */
    /* top: calc(100% - 273px); */
    border-radius: 10px;
    background: #EDF0F6;
}
.myproduct h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #03354E;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 29px;
}
.productCards{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.productCards .cards{
    /* width: 342px; */
    /* width: 85%; */
    width: 90%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}

/* Coming Soon Card Gray-out Effect */
.productCards .coming-soon-card {
    opacity: 0.6;
    background: #fff !important;
    border: 2px  #ccc;
    cursor: not-allowed;
}